body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  text-align: center;
}

header {
position: fixed;
z-index: 5;
display: flex;
border-bottom: 1px solid seashell;
height: 69px;
margin-left: 10px;
margin-right: 10px;
width: 100%;
align-items: center;
justify-content: space-between;
}

.logo {
  height: 50px;
  display: flex;
}

.nav span {
  display: inline-block;
  text-decoration: underline;
  text-align: left;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
}

a {
  color: seashell;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  padding-top: 70px;
  padding border-bottom: 70px;
  position: relative;
  top: 70px;
  margin-bottom: 60px;
  position: relative;
}

.hero {
  display: inline-block;
}

.mainhero {
  background-image: url("../images/background.jpg");
}

.mainhero.image-text {
background-color: black;
vertical-align: middle;
display: flex;
height: 700px;
width: 1200px;
}

.month {
  width: 1000px;
}

.monthimages {
  display: inline-flex;
  justify-content: space-between;
}

.image-text {
  height: 200px;
  width: 300px;
  margin-top: 10px;
}

.contact {
  height: 200px;
}
